// Content ----------------------------------------
* {
	@include border-box-sizing;
}

.band {
	@include pie-clearfix;
	@include breakpoint($medium) {
	  padding: 3em 0;
	}
	display: block;
	padding: 1em 0;
	width: 100%;
}

.layout {
	overflow: hidden;
  @include container(92%);
  @include breakpoint($medium) {
	  @include container(85%);
	}
	@include breakpoint($large) {
	  @include container(80%);
	}
}

// General -----------------------------------------

// Home -------------------------------------------

// Page ------------------------------------------