// Susy ---------------------------------------
$susy: (
  columns: 12,
  gutters: 1/2,
  global-box-sizing: border-box
);

$small                : 30em;
$medium               : 50em;
$large                : 75em;

@include border-box-sizing;

// Colours -------------------------------------
$black     			: #000000;
$white          : #FFFFFF;
$orange         : #f7814d;
$cream 					: #f7f5f2;
$navy 					: #2E3E4F;
$blue  					: #2969b0;
$lightblue      : #2A97D6;
$teal 					: #34B0BB;
$grey           : #7F7F7F;
$lightgrey      : #EEEEEE;
$darkgrey       : #363839;
$drupal   			: #0c76ab;
$maroon 				: #591527;

// Fonts ---------------------------------------
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Cabin', sans-serif;