// Susy ---------------------------------------
$susy: (
  columns: 12,
  gutters: 1/4,
  global-box-sizing: border-box,
);

$small                : 30em;
$medium               : 47em;
$large                : 75em;

// Colours -------------------------------------
$black     			: #000000;
$white          : #FFFFFF;
$darkgray       : #475B62;

// Fonts ---------------------------------------
$font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;